.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 80vh;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #f0f0f0;
  margin: 0;
}
